<h1> Ceci est ma troisieme page : test </h1>

<p> Ruby on raiiiiiiiiiiiiiiiiiiiiils : <%= @variable %></p>

<% if @variable == 50 %>
    Tu as un chiffre élevé!
<% else %>
    Ton chiffre est bas

<% end %>
